body {
    background-image: url(images/image.jpg);
}

#search-input {
    width: 60%;
    color: white;
}

.suggestion-container {
    background-color: white;
    border-radius: 0.5rem;
    color: blue;
    margin: 0.25rem;
    padding: 1rem;
    text-align: center;
}